$corDoFundo: #921dcc;
$corVermelha: #e4211b;
$corPreta: #261c21;
$corEscura: #030203;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$gradienteHbo: linear-gradient(50deg, rgba(88,18,93,100) 21%, rgba(31,33,104,20) 71%);
$hbo:rgba(31,33,104,20);