@use 'cores';

.header{
    position: sticky;
    top: 0;
    left: 0;
    background-color: cores.$corEscura;

    &__img{
        max-width: 70px;
    }

    &__container {
        padding: 2px 36px;
        display: flex;
        justify-content: space-between;}

        &__links {
            display: flex;
            list-style: none;
            align-items: center;

            &__item{
                margin: 5px;
            }
        }
}
