@use 'cores';

.cropped {
    width: 500px;
    height: 300px;
    object-fit: cover;
    object-position:45%;
}

.sobre{
    margin: 40px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__imagem{
        margin: 20px 0 20px 20px;
        border-radius: 4px;
        border: 0.5px solid black;
        width: 90%;
    }

    &__textos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;

        &__titulo{
            white-space: nowrap;
        }

        &__texto{
                top: 10px;
        }
    }

}
