.trailer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px;
    padding-bottom: 40px;

    &__video{
        width: 1120px;
        height: 630px;

        @media (max-width:768px){
            width: 300px;
            height: 300px;
        }
    }
}