@use 'hero';
@use 'header';
@use 'cores';
@use 'sobre';
@use 'trailer';
@use 'assistir';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cores.$corEscura;
}


.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    padding: 8px 14px;
    color: cores.$corPreta;
    background-color: cores.$corVermelha;

    &:hover {
        background-color: lighten(cores.$corVermelha, $amount: 3%);
    }
}

@mixin text($fontsize: 16px) {
    font-size: $fontsize;
    line-height: $fontsize + 10;
    color: cores.$corTextoPrincipal;
}

@mixin title($fontsize: 40px) {
    @include text($fontsize);
    color: cores.$corTextoSecundario;
}

.text--big {
    @include text(18px);

    @media (max-width: 768px){
        @include text(15px);
    }
}

.text {
    @include text;

    @media (max-width: 768px){
        @include text(14px);
    }
}

.text--small {
    @include text(12px);

    @media (max-width: 768px){
        @include text(11px);
    }
}

.title--big{
    @include title(44px);

    @media (max-width: 768px){
        @include title(26px);
    }
}

.title {
    @include title;

    @media (max-width: 768px){
        @include title(24px);
    }
}

.title--small {
    @include title(28px);

    @media (max-width: 768px){
        @include title(22px);
    }
}

.link-text {
    @include text(18px);
    color: cores.$corTextoSecundario;
    text-decoration: underline;
}